# User
USERNAME=kento

# Model settings
## OpenAI / Foundry project
FOUNDRY_PROJECT_ENDPOINT=https://<your_openai_endpoint>.azure.com/api/projects/<your_project_id>

## OpenAI SDK A2A demo
OPENAI_API_KEY=sk-<your_openai_api_key>
OPENAI_MODEL=gpt-4.1-mini

## Anthropic
ANTHROPIC_FOUNDRY_RESOURCE=<your_project_id>
ANTHROPIC_CHAT_MODEL=claude-sonnet-4-6

## Gemini
GEMINI_API_KEY=<your_gemini_api_key>
GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=<your_google_project_id>
GOOGLE_CLOUD_LOCATION=<your_google_cloud_location>

# OpenTelemetry settings
## Application Insights
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=00000-00000-0000;IngestionEndpoint=xxxxx
## Service ID
OTEL_SERVICE_NAME=service-name
