# OpenAI
FOUNDRY_PROJECT_ENDPOINT=https://<your_openai_endpoint>.azure.com/api/projects/<your_project_id>

# Anthropic
ANTHROPIC_FOUNDRY_RESOURCE=<your_project_id>
ANTHROPIC_CHAT_MODEL=claude-sonnet-4-6

# OpenTelemetry
ENABLE_OTEL=true
ENABLE_SENSITIVE_DATA=true
OTLP_ENDPOINT=http://localhost:4317dc76abe3-5013-44c2-9a11-2bab3ca2f86fz