# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://<your_openai_endpoint>.azure.com/
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-5-mini
AZURE_OPENAI_RESPONSES_DEPLOYMENT_NAME=your_model


# OpenTelemetry
ENABLE_OTEL=true
ENABLE_SENSITIVE_DATA=true
OTLP_ENDPOINT=http://localhost:4317dc76abe3-5013-44c2-9a11-2bab3ca2f86fz